@model WorldForging.Models.WorldsDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



@section scripts {
<script>
    var app = angular.module("main", ['ngRoute']).config(function ($routeProvider, $locationProvider) {
        // configure the routing rules here
        $routeProvider.when('/Worlds/Details/:id', {
            controller: 'WorldDetailsVM'
        });

        // enable HTML5mode to disable hashbang urls
        $locationProvider.html5Mode(true);
    }).controller('WorldDetailsVM', function ($scope, $http, $routeParams) {
        $http({
            method: 'GET',
            url: '/api/WorldsAPI',
            params: { id: 29 }
        }).then(function (response) {
            $scope.WorldDetails = response.data;
        });
        //alert($routeParams.id);
    });

</script>
    <!--<script src="~/App/World/App.js"></script>
    <script src="~/App/World/ViewModels/RootViewModel.js"></script>
    <script src="~/App/World/ViewModels/WorldDetailsViewModel.js"></script>-->
}
@section jsCode {
    
}


    <div id="world" ng-controller="WorldDetailsVM">
        <h4>World</h4>
        <hr />

        <dl class="dl-horizontal">

            <dt>
                World Name
            </dt>

            <dd>
                {{WorldDetails.World.Name}}
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                {{WorldDetails.World.Description}}
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dd>
                Add Group
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                Races
            </dt>

            <dd ng-repeat="race in WorldDetails.Races">
                {{race.Entity.Name}}
            </dd>

            <dd>
                Add Race
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dt>
                Characters
            </dt>
            <dd ng-repeat="character in WorldDetails.Characters">
                {{character.Entity.Name}}
            </dd>
            <dd>
                Add Character
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dt>
                Items
            </dt>
            <dd ng-repeat="item in WorldDetails.Items">
                {{item.Entity.Name}}
            </dd>
            <dd>
                Add Item
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dt>
                Locations
            </dt>
            <dd ng-repeat="location in WorldDetails.Locations">
                {{character.Entity.Name}}
            </dd>
            <dd>
                Add Location
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dt>
                Events
            </dt>
            <dd ng-repeat="event in WorldDetails.Events">
                {{event.Entity.Name}}
            </dd>
            <dd>
                Add Event
            </dd>

        </dl>
    </div>

<p>
    Edit |
    Back to List
</p>

