@model IEnumerable<WorldForging.Models.World>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script>
    //var app = angular.module("main", ['ngRoute']).config(function ($routeProvider, $locationProvider) {
    //    // configure the routing rules here
    //    $routeProvider.when('/Worlds', {
    //        controller: 'WorldsVM'
    //    });

    //    // enable HTML5mode to disable hashbang urls
    //    $locationProvider.html5Mode(true);
    //}).controller('WorldsVM', function ($scope, $http, $routeParams) {
    //    $http({
    //        method: 'GET',
    //        url: '/api/WorldsAPI'
    //    }).then(function (response) {
    //        $scope.Worlds = response.data;
    //    });
    //});

    </script>
<script src="~/App/Worlds/App.js"></script>
<script src="~/App/Worlds/ViewModels/WorldsVM.js"></script>
<script src="~/App/Worlds/ViewModels/WorldDetailsVM.js"></script>
}
<div ng-view>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="world in Worlds">
            <td>
                {{world.User.Email}}
            </td>
            <td>
                {{world.Name}}
            </td>
            <td>
                {{world.Description}}
            </td>
            <td>
                <a ng-href="/Worlds/Details/{{world.WorldId}}">Details</a>
            </td>
        </tr>
        }

    </table>
</div>