<h2>Entity Relationships</h2>


<table class="table">
    <tr>
        <th>
            Entity1
        </th>
        <th>
            Relationship
        </th>
        <th>
            Entity2
        </th>
        
    </tr>

    <tr ng-repeat="relationship in EntityRelationshipsData.EntityRelationships">
        <td>
            <select ng-model="relationship.Entity1Id" ng-options="e.EntityId as e.Name for e in EntityRelationshipsData.Entities">
            </select>
        </td>
        <td>
            <select ng-model="relationship.EntityRelationshipId" ng-options="r.EntityRelationshipId as r.Description for r in EntityRelationshipsData.Relationships"></select>
        </td>
        <td>
            <select ng-model="relationship.Entity2Id" ng-options="e.EntityId as e.Name for e in EntityRelationshipsData.Entities"></select>
        </td>
        
    </tr>

    


</table>

<p>
    <button ng-click="addNewRelationshipRow()">New Relationship</button>
</p>