<h4>World</h4>
<hr />

<dl class="dl-horizontal">

    <dt>
        World Name
    </dt>

    <dd>
        {{WorldDetails.World.Name}}
    </dd>

    <dt>
        Description
    </dt>

    <dd>
        {{WorldDetails.World.Description}}
    </dd>

</dl>
<dl class="dl-horizontal">
    <dd>
        <a href="#" ng-click="showAddGroupForm()">Add Group</a>
    </dd>
</dl>
<dl class="dl-horizontal">
    <dt>
        Races
    </dt>

    <dd ng-repeat="race in WorldDetails.Races">
        {{race.Group.Entity.Name}}
    </dd>

    <dd>
        <a href="#" ng-click="showAddGroupForm()">Add Race</a>
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        Characters
    </dt>
    <dd ng-repeat="character in WorldDetails.Characters">
        {{character.Entity.Name}}
    </dd>
    <dd>
        <a href="#" ng-click="showAddCharacterForm()">Add Character</a>
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        Items
    </dt>
    <dd ng-repeat="item in WorldDetails.Items">
        {{item.Entity.Name}}
    </dd>
    <dd>
        <a href="#" ng-click="showAddItemForm()">Add Item</a>
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        Locations
    </dt>
    <dd ng-repeat="location in WorldDetails.Locations">
        {{location.Entity.Name}}
    </dd>
    <dd>
        <a href="#" ng-click="showAddLocationForm()">Add Location</a>
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        Events
    </dt>
    <dd ng-repeat="event in WorldDetails.Events">
        {{event.Entity.Name}}
    </dd>
    <dd>
        <a href="#" ng-click="showAddWorldEventForm()">Add Event</a>
    </dd>

</dl>